{% extends 'base.html'%}
{% block content %}

<!-- Main Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      
      <div class="post-preview">
        <a href="">
          <h2 class="post-title">
            {{}}
          </h2>
          <h3 class="post-subtitle">
            {{post.post_content | truncate (45) | safe}}
          </h3>
        </a>
        <p class="post-meta">Posted by
          <a href=""></a> on
         
        </p>
      </div>
      <hr>
      {}
    </div>
  </div>
</div>
{%endblock%}