 <header class="masthead" style="background-image: url('https://picsum.photos/1900/1267?grayscale'); margin-top: 40px;">
    <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <span class="subheading"><i class="fas fa-quote-left"></i> <em><p>I am proud of bieng part of the Moringa Classroom MC28 2020</p></em> <i class="fas fa-quote-right"></i></span>
          <h2></h2>
        </div>
      </div>
    </div>
  </div>
</header>
